APP_ENV=dev
APP_DEBUG=true

# Database
DB_CONNECTION=mongodb
DB_HOST=127.0.0.1
DB_PORT=27017
DB_DATABASE=resume_builder
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET_KEY=your_secret_key
JWT_SECRET_EXPIRES_IN=86400
